@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Archivo";;
  src: url('../fonts/Archivo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Variable.ttf') format('truetype');
}

* {
  font-family: "Inter", sans-serif;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

.activeLink {
  @apply text-[#636AE8FF] font-semibold underline decoration-2 underline-offset-4;
}

.widthBase {
  @apply max-w-7xl mx-auto;
}
